@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Gilroy, arial, Helvetica Neue, sans-serif;
}

/* CSS for scroll-bar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  color: #ff8c00;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ff8c00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #828080;
}